@import url("https://fonts.googleapis.com/css?family=Kalam:300|Lato:300i&display=swap");
$main-color: rgb(82, 129, 168);
$accent: rgb(0, 234, 255);
$main-font: "Lato", sans-serif;
$list-font: "Kalam", cursive;

* {
  margin: 0;
  padding: 0;
}
.accent {
  color: $accent;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background: $main-color;
  font-family: $main-font;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.container {
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .add-item {
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: center;
    input {
      border-radius: 5px;
      border: none;
      // height: 35px;
      padding: 0.5rem 1rem;
      padding-right: 0.5rem;
      font-size: 1.3rem;
      font-family: $main-font;
    }
    a {
      padding: 0.69rem 1rem;
      background: white;
      transition: all 0.35s;
      border-radius: 5px;
      &:hover {
        background: $accent;
      }
    }
  }
  .item-List {
    background: white;
    max-height: 525px;
    margin-top: 1rem;
    overflow: auto;
    > div {
      border-bottom: #ccc solid 2px;
      height: 100%;
    }
    div {
      margin: 0.75rem 0;
      margin-bottom: 0;
      padding: 0 1rem;
      padding-bottom: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      h1 {
        display: inline-block;
        margin: 0;
        font-family: $list-font;
        font-size: 1.5rem;
        font-weight: normal;
        text-align: left;
      }
      .status {
        width: 40%;
        padding: 0;
        height: 53px;
        margin: 0;
        font-size: 1.3rem;
        justify-content: space-evenly;
        color: #ccc;
        i {
          cursor: pointer;
          position: relative;
          &:first-child:hover {
            color: green;
            .desc {
              display: block;
            }
          }
          &:last-child:hover {
            color: red;
            .desc {
              display: block;
            }
          }
          & .desc {
            bottom: -250%;
            left: 50%;
            width: 60px;
            font-family: $main-font;
            transform: translateX(-50%);
            position: absolute;
            z-index: 2;
            text-align: center;
            height: 50px;
            font-size: 0.8rem;
            display: none;
          }
        }
      }
    }
  }
}
